################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoModeloDDD/v15/Server/sqlite3
/.vs/CSharpModeloDDD/v15/Server/sqlite3
/Inject/obj/Debug
/Inject/bin/Debug
